{% extends 'main.html' %}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <h2>User Details</h2>
            <p>ID: {{ user.id }}</p>
            <p>Username: {{ user.username }}</p>
            <p>Age: {{ user.age }}</p>
        </article>
        <br>
    {% else %}
        <section class="container-fluid">
            <h2 align="center"> Users </h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for usr in users %}
                        <li class="list-group-item">
                            <a href="/user/{{ usr.id }}">{{ usr.username }} (Age: {{ usr.age }})</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
